<!DOCTYPE html>
<html lang="en">
<head>
    <!-- created by G Daniel Vineel -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->

    <link rel="shortcut icon" href="{{ url_for('static',filename='images/coding-logo.png')}}" type="image/x-icon">
    
    
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}" >
    <link rel="stylesheet" href="{{url_for('static',filename='css/homepage.css')}}" >
    
    <script src="{{url_for('static',filename='js/homepage.js')}}"></script>
    <title>Expression Conversions</title>



</head>

<body>

    <div id="outer-layer">
    <h3>Expression Conversions</h3>

        <div id="inner-layer">
            <div id="infix-postfix" class="box">Infix To Postfix Conversion</div>
            <div id="postfix-infix" class="box">Postfix To Infix Conversion</div>
        </div>

    </div>
    <!-- created by G Daniel Vineel -->

</body>
</html>